
.footer {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.socialLinks {
    margin-top: 10px;
}

.socialLinks a {
    margin: 0 10px;
    text-decoration: none;
}

.socialLinks a:hover {
    text-decoration: underline;
}
