
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Suse', sans-serif;
    background-color: #fffaf2;
    color: #333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: 400px;
}

button {
    border: none;
}
